{% extends "layouts/main.njk" %}
{% from "components/task-list/macro.njk" import govukTaskList %}

{% set pageName="Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Dynamic fields testing</h1>

      {{ govukTaskList({
        items: data
      }) }}
    </div>
  </div>

{% endblock %}
