{% extends "layouts/main.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if components.length > 1 %}
        <h1 class="govuk-heading-xl">{{ pageName }}</h1>
      {% endif %}

      <form class="form" action="/path/of/next/page" method="post">

        {% for component in components %}

          {% if component.type === 'text' %}
            {{ govukInput({
              label: {
                text: component.label,
                isPageHeading: components.length === 1,
                classes: 'govuk-fieldset__legend--xl' if components.length === 1
              },
              id: component.name,
              name: component.name
            }) }}
          {% elseif component.type === 'radio' %}
            {{ govukRadios({
              name: component.name,
              fieldset: {
                legend: {
                  text: component.label,
                  isPageHeading: components.length === 1,
                  classes: 'govuk-fieldset__legend--xl' if components.length === 1
                }
              },
              items: component.items
            }) }}
          {% endif %}

        {% endfor %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
