{% extends "layouts/main.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if components.length > 1 %}
        <h1 class="govuk-heading-xl">{{ pageName }}</h1>
      {% endif %}

      <form class="form" action="/" method="post">

        {%- include "components/renderer" -%}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p>
    Current data:<br/>
    <code class="govuk-!-font-size-14">{{ data | dump | replace(",", ", ") }}</code>
  </p>

{% endblock %}
