{% extends "layouts/main.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">{{ pageName }}</h1>

      <form class="form" method="post">

        <div class="govuk-!-margin-bottom-6">
          {{ govukTable({
            caption: "Commodities",
            captionClasses: "govuk-table__caption--m",
            classes: "govuk-!-margin-bottom-2",
            head: [
              { text: "Commodity code" },
              { text: "Description" },
              { html: "<span class=\"govuk-visually-hidden\">Remove button</span>" }
            ],
            rows: commodityRows
          }) }}
          <p class="govuk-body govuk-!-margin-bottom-0">
            <a class="govuk-link" href="#">Add commodity</a>
          </p>
        </div>

        {% for commodityTable in commodityTables %}
          <div class="govuk-!-margin-bottom-6">
            {{ govukTable({
              caption: commodityTable.caption,
              captionClasses: "govuk-table__caption--m",
              classes: "govuk-!-margin-bottom-2",
              head: commodityTable.head,
              rows: commodityTable.rows
            }) }}
            <p class="govuk-body govuk-!-margin-bottom-0">
              <a class="govuk-link" href="#">Add species</a>
            </p>
          </div>
        {% endfor %}

        <div class="govuk-!-margin-bottom-4">
          {{ govukButton({
            text: "Save and return to hub",
            name: "action",
            value: "return",
            classes: "govuk-!-margin-bottom-0 govuk-!-margin-right-1"
          }) }}

          {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "continue",
            classes: "govuk-!-margin-bottom-0"
          }) }}
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="/">Cancel and return to hub</a>
        </p>
      </form>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  {% call govukDetails({summaryText: "Stored data"}) %}
    <code class="govuk-!-font-size-14">{{ data | dump | replace(",", ", ") }}</code>
  {% endcall %}

{% endblock %}
