{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set code070190 %}
  {{ govukRadios({
    name: 'code070190',
    items: [
      {
        value: '07019010',
        html: '<b>07 01 90 10</b> - For the manufacture of starch'
      },
      {
        value: '07019050',
        html: '<b>07 01 90 50</b> - New, from 1 January to 30 June'
      },
      {
        value: '07019090',
        html: '<b>07 01 90 90</b> - Other <b>(or select)</b>'
      }
    ]
  }) }}
{% endset -%}

{% set code0701 %}
  {{ govukRadios({
    name: 'code0701',
    items: [
      {
        value: '07011000',
        html: '<b>07 01 10 00</b> - Seed'
      },
      {
        value: '070190',
        html: '<b>07 01 90</b> - Other',
        conditional: {
          html: code070190
        }
      }
    ]
  }) }}
{% endset -%}

{% set code07 %}
  {{ govukRadios({
    name: 'code07',
    items: [
      {
        value: '0701',
        html: '<b>07 01</b> - Potatoes, fresh or chilled',
        conditional: {
          html: code0701
        }
      },
      {
        value: '07020000',
        html: '<b>07 02 00 00</b> - Tomatoes, fresh or chilled <b>(or select)</b>'
      }
    ]
  }) }}
{% endset -%}

{{ govukRadios({
  name: 'top-level',
  fieldset: {
    legend: {
      text: 'Commodity',
      isPageHeading: true,
      classes: 'govuk-fieldset__legend--l'
    }
  },
  hint: {
    text: 'Find the commodity in the commodity tree'
  },
  items: [
    {
      value: '05',
      html: '<b>05</b> - PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECIFIED OR INCLUDED'
    },
    {
      value: '07',
      html: '<b>07</b> - EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS',
      conditional: {
        html: code07
      }
    }
  ]
}) }}
