{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: component.name,
  fieldset: {
    legend: {
      text: component.label,
      isPageHeading: not nested and components.length === 1,
      classes: 'govuk-fieldset__legend--s' if nested else ('govuk-fieldset__legend--xl' if components.length === 1 else 'govuk-fieldset__legend--m')
    }
  },
  hint: {
    text: component.hint
  },
  value: component.value,
  items: component.items
}) }}
