{% for component in components %}
  {% if component.type === 'text' %}
    {%- include 'components/input' -%}
  {% elseif component.type === 'radio' %}
    {%- include 'components/radios' -%}
  {% elseif component.type === 'select' %}
    {%- include 'components/select' -%}
  {% elseif component.type === 'table' %}
    {%- include 'components/table' -%}
  {% elseif component.type === 'link' %}
    {%- include 'components/link' -%}
  {% elseif component.type === 'date' %}
    {%- include 'components/date' -%}
  {% elseif component.type === 'time' %}
    {%- include 'components/time' -%}
  {% endif %}
{% endfor %}
