{% for component in components %}
  {% if component.type === 'text' %}
    {%- include 'components/input' -%}
  {% elseif component.type === 'radio' %}
    {%- include 'components/radios' -%}
  {% elseif component.type === 'select' %}
    {%- include 'components/select' -%}
  {% elseif component.type === 'table' %}
    {%- include 'components/table' -%}
  {% elseif component.type === 'link' %}
    {%- include 'components/link' -%}
  {% elseif component.type === 'date' %}
    {%- include 'components/date' -%}
  {% elseif component.type === 'time' %}
    {%- include 'components/time' -%}
  {% elseif component.type === 'trader' %}
    {%- include 'components/trader' -%}
  {% elseif component.type === 'totals' %}
    {%- include 'components/totals' -%}
  {% elseif component.type === 'checkbox' %}
    {%- include 'components/checkbox' -%}
  {% elseif component.type === 'details' %}
    {%- include 'components/details' -%}
  {% elseif component.type === 'varietyAndClass' %}
    {%- include 'components/varietyAndClass' -%}
  {% elseif component.type === 'documents' %}
    {%- include 'components/documents' -%}
  {% endif %}
{% endfor %}
