{% from "govuk/components/select/macro.njk" import govukSelect %}
{% for component in components %}
  {% if component.type === 'dropdown' %}
    {{ govukSelect({
      id: component.name,
      name: component.name,
      label: {
        text: component.text
      },
      items: component.items
    }) }}
  {% endif %}
{% endfor %}